{"openapi":"3.1.0","info":{"title":"e-Komunikacija API","version":"v1"},"servers":[{"url":"https://e-komunikacija.pravosudje.hr","description":"Generated server url"}],"paths":{"/api/veliki-korisnici/predmeti/{predmetId}/do-not-disturb/turn-on":{"post":{"tags":["Predmeti"],"summary":"Uključivanje 'Ne ometaj' postavke za predmet","description":"Metoda za uključivanje 'Ne ometaj' postavke za predmet s predanim ID-em.","operationId":"turnOnDoNotDisturbForPredmet","parameters":[{"name":"predmetId","in":"path","description":"ID predmeta","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"boolean"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/predmeti/{predmetId}/do-not-disturb/turn-off":{"post":{"tags":["Predmeti"],"summary":"Isključivanje 'Ne ometaj' postavke za predmet","description":"Metoda za isključivanje 'Ne ometaj' postavke za predmet s predanim ID-em.","operationId":"turnOffDoNotDisturbForPredmet","parameters":[{"name":"predmetId","in":"path","description":"ID predmeta","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"boolean"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/predmeti/do-not-disturb/turn-on":{"post":{"tags":["Predmeti"],"summary":"Uključivanje opće 'Ne ometaj' postavke","description":"Metoda za uključivanje opće 'Ne ometaj' postavke.","operationId":"turnOnGeneralDoNotDisturb","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PredmetGeneralDoNotDisturbTurnOnDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/predmeti/do-not-disturb/turn-off":{"post":{"tags":["Predmeti"],"summary":"Isključivanje opće 'Ne ometaj' postavke","description":"Metoda za isključivanje opće 'Ne ometaj' postavke.","operationId":"turnOffGeneralDoNotDisturb","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PredmetGeneralDoNotDisturbTurnOffDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/predmeti/do-not-disturb/all":{"post":{"tags":["Predmeti"],"summary":"Isključivanje 'Ne ometaj' postavke za sve predmete","description":"Metoda za isključivanje 'Ne ometaj' postavke za sve predmete.","operationId":"turnOffDoNotDisturbForAllPredmet","responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/podnesci":{"get":{"tags":["Podnesci"],"summary":"Stranični dohvat i pretraga","description":"Metoda za stranično dohvaćanje i pretraživanje podnesaka.","operationId":"getPodnesci","parameters":[{"name":"page","in":"query","description":"Broj stranice koja se dohvaća. Brojevi počinju od 0.","schema":{"type":"integer","minimum":0},"example":0},{"name":"size","in":"query","description":"Veličina stranice koja se dohvaća. Maksimalna dopuštena veličina je 100.","schema":{"type":"integer","maximum":100},"example":10},{"name":"sort","in":"query","description":"Podatak po kojem se sortira i smjer sortiranja ('asc' za uzlazno sortiranje i 'asc' za silazno sortiranje) odvojeni zarezom.","example":"vrijemeKreiranja,asc"},{"name":"status","in":"query","description":"Status podneska.","required":false,"schema":{"type":"array","enum":["NACRT","POSLAN"],"items":{"type":"string","enum":["NACRT","POSLAN"]},"uniqueItems":true}},{"name":"sudId","in":"query","description":"ID suda.","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"},"maxItems":10,"uniqueItems":true}},{"name":"vrstaUpisnikaOznaka","in":"query","description":"Oznaka vrste upisnika. Ne radi se razlika između malih i velikih slova.","required":false,"schema":{"type":"array","items":{"type":"string"},"maxItems":10,"uniqueItems":true}},{"name":"vanjskiPredmet","in":"query","description":"Vanjski predmet. Ne radi se razlika između malih i velikih slova.","required":false,"schema":{"type":"array","items":{"type":"string"},"maxItems":10,"uniqueItems":true}},{"name":"vanjskaUstrojstvenaJedinica","in":"query","description":"Vanjska ustrojstvena jedinica. Ne radi se razlika između malih i velikih slova.","required":false,"schema":{"type":"array","items":{"type":"string"},"maxItems":10,"uniqueItems":true}},{"name":"datumSlanjaOd","in":"query","description":"Datum slanja od u formatu yyyy-MM-dd. Parametar filtera nije moguće koristiti u slučaju da se dohvaćaju samo podnesci u statusu NACRT.","required":false,"schema":{"type":"string","format":"date","description":"Datum slanja od u formatu yyyy-MM-dd. Parametar filtera nije moguće koristiti u slučaju da se dohvaćaju samo podnesci u statusu NACRT.","pattern":"/([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/"}},{"name":"datumSlanjaDo","in":"query","description":"Datum slanja do u formatu yyyy-MM-dd. Parametar filtera nije moguće koristiti u slučaju da se dohvaćaju samo podnesci u statusu NACRT.","required":false,"schema":{"type":"string","format":"date","description":"Datum slanja do u formatu yyyy-MM-dd. Parametar filtera nije moguće koristiti u slučaju da se dohvaćaju samo podnesci u statusu NACRT.","pattern":"/([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/"}},{"name":"predmetOznaka","in":"query","description":"Oznaka predmeta. Ne radi se razlika između malih i velikih slova. Parametar filtera nije moguće koristiti u slučaju da se dohvaćaju samo podnesci u statusu NACRT.","required":false,"schema":{"type":"string","description":"Oznaka predmeta. Ne radi se razlika između malih i velikih slova. Parametar filtera nije moguće koristiti u slučaju da se dohvaćaju samo podnesci u statusu NACRT."}},{"name":"vrstaPodneskaNaziv","in":"query","description":"Naziv vrste podneska. Pretraga funkcionira po principu 'sadržava' (contains) te se ne radi razlika između malih i velikih slova.","required":false,"schema":{"type":"string","description":"Naziv vrste podneska. Pretraga funkcionira po principu 'sadržava' (contains) te se ne radi razlika između malih i velikih slova."}},{"name":"samoProslijedjeni","in":"query","description":"Ako je filter postavljen na true, dohvatit će se samo podnesci koje su sudovi kojima su originalno bili poslani proslijedili drugim sudovima. Parametar filtera nije moguće koristiti u slučaju da se dohvaćaju samo podnesci u statusu NACRT.","required":false,"schema":{"type":"boolean","description":"Ako je filter postavljen na true, dohvatit će se samo podnesci koje su sudovi kojima su originalno bili poslani proslijedili drugim sudovima. Parametar filtera nije moguće koristiti u slučaju da se dohvaćaju samo podnesci u statusu NACRT."}},{"name":"strankaProtustrankaIme","in":"query","description":"Ime stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova.","required":false,"schema":{"type":"string","description":"Ime stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova."}},{"name":"strankaProtustrankaPrezime","in":"query","description":"Prezime stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova.","required":false,"schema":{"type":"string","description":"Prezime stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova."}},{"name":"strankaProtustrankaNaziv","in":"query","description":"Naziv stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova.","required":false,"schema":{"type":"string","description":"Naziv stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova."}},{"name":"strankaProtustrankaOib","in":"query","description":"OIB stranke/protustranke.","required":false,"schema":{"type":"string","description":"OIB stranke/protustranke."}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PagedEkomPodnesakPage"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Podnesci"],"summary":"Kreiranje nacrta","description":"Metoda za kreiranje novog nacrta podneska.","operationId":"createPodnesak","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"podnesak":{"$ref":"#/components/schemas/CreateEkomPodnesakRequest"},"files":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["files","podnesak"]},"encoding":{"podnesak":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EkomPodnesak"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/podnesci/{id}/prilozi":{"post":{"tags":["Podnesci"],"summary":"Kreiranje novog priloga","description":"Metoda za kreiranje novog priloga podneska s predanim ID-em.","operationId":"createPrilogPodneska","parameters":[{"name":"id","in":"path","description":"ID podneska","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"prilog":{"$ref":"#/components/schemas/CreateEkomPrilogRequest"},"file":{"type":"string","format":"binary"}},"required":["file","prilog"]},"encoding":{"prilog":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/podnesci/{id}/posalji-na-sud":{"post":{"tags":["Podnesci"],"summary":"Slanje na sud","description":"Metoda za slanje podneska s predanim ID-em na sud.","operationId":"posaljiPodnesakNaSud","parameters":[{"name":"id","in":"path","description":"ID podneska","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PosaljiEkomPodnesakNaSudRequest"}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/otpravci/{id}/potvrdi-primitak":{"post":{"tags":["Otpravci"],"summary":"Potvrđivanje primitka","description":"Metoda za potvrđivanje primitka otpravka s predanim ID-em.","operationId":"potvrdiPrimitakOtpravka","parameters":[{"name":"id","in":"path","description":"ID otpravka","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/sifrarnici/vrste-postupaka/{vrstaPostupkaId}/vrste-podnesaka/{vrstaPodneskaId}/pristojba-dodatne-opcije/postojeci-predmet":{"get":{"tags":["Šifrarnici"],"summary":"Dodatne opcije pristojbe za postojeći predmet","description":"Metoda za dohvaćanje dodatnih opcija pristojbe za podnesak koji se dostavlja u postojeći predmet s vrstom postupka s predanim ID-em i s vrstom podneska s predanim ID-em.","operationId":"getDodatneOpcijePristojbiForPostojeciPredmetByVrstaPostupkaIdAndVrstaPodneskaId","parameters":[{"name":"vrstaPostupkaId","in":"path","description":"ID vrste postupka","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"vrstaPodneskaId","in":"path","description":"ID vrste podneska","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PristojbaDodatnaOpcija"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/sifrarnici/vrste-postupaka/{vrstaPostupkaId}/vrste-podnesaka/{vrstaPodneskaId}/pristojba-dodatne-opcije/novi-postupak":{"get":{"tags":["Šifrarnici"],"summary":"Dodatne opcije pristojbe za novi postupak","description":"Metoda za dohvaćanje dodatnih opcija pristojbe za podnesak kojim se pokreće novi postupak vrste s predanim ID-em i s vrstom podneska s predanim ID-em.","operationId":"getDodatneOpcijePristojbiForNoviPostupakByVrstaPostupkaIdAndVrstaPodneskaId","parameters":[{"name":"vrstaPostupkaId","in":"path","description":"ID vrste postupka","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"vrstaPodneskaId","in":"path","description":"ID vrste podneska","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PristojbaDodatnaOpcija"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/sifrarnici/vrste-postupaka/{vrstaPostupkaId}/vrste-podnesaka/postojeci-predmet":{"get":{"tags":["Šifrarnici"],"summary":"Vrste podnesaka za postojeći predmet","description":"Metoda za dohvaćanje svih mogućih vrsta podnesaka za kreiranje podneska koji se dostavlja u postojeći predmet u postupku vrste s predanim ID-em.","operationId":"getVrstePodneskaForPostojeciPredmetByVrstaPostupkaId","parameters":[{"name":"vrstaPostupkaId","in":"path","description":"ID vrste postupka","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VrstaPodneska"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/sifrarnici/vrste-postupaka/{vrstaPostupkaId}/vrste-podnesaka/novi-postupak":{"get":{"tags":["Šifrarnici"],"summary":"Vrste podnesaka za novi postupak","description":"Metoda za dohvaćanje svih mogućih vrsta podnesaka za kreiranje podneska kojim se pokreće novi postupak u postupku vrste s predanim ID-em.","operationId":"getVrstePodneskaForNoviPostupakByVrstaPostupkaId","parameters":[{"name":"vrstaPostupkaId","in":"path","description":"ID vrste postupka","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VrstaPodneska"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/sifrarnici/vrste-postupaka/{vrstaPostupkaId}/uloge-sudionika":{"get":{"tags":["Šifrarnici"],"summary":"Uloge sudionika","description":"Metoda za dohvaćanje svih mogućih uloga sudionika u postupku vrste s predanim ID-em.","operationId":"getUlogeSudionikaByVrstaPostupkaId","parameters":[{"name":"vrstaPostupkaId","in":"path","description":"ID vrste postupka","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UlogaSudionika"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/sifrarnici/vrste-postupaka/{vrstaPostupkaId}/uloge-podnositelja":{"get":{"tags":["Šifrarnici"],"summary":"Uloge podnositelja","description":"Metoda za dohvaćanje svih mogućih uloga podnositelja u postupku vrste s predanim ID-em.","operationId":"getUlogePodnositeljaByVrstaPostupkaId","parameters":[{"name":"vrstaPostupkaId","in":"path","description":"ID vrste postupka","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UlogaSudionika"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/sifrarnici/sudovi":{"get":{"tags":["Šifrarnici"],"summary":"Sudovi","description":"Metoda za dohvaćanje svih sudova.","operationId":"getSudovi","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Sud"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/sifrarnici/sudovi/{sudId}/novi-postupak/vrste-postupaka":{"get":{"tags":["Šifrarnici"],"summary":"Vrste novog postupka","description":"Metoda za dohvaćanje svih mogućih vrsta postupaka za kreiranje podneska kojim se pokreće novi postupak na sudu s predanim ID-em.","operationId":"getVrstePostupakaForNoviPostupakBySudId","parameters":[{"name":"sudId","in":"path","description":"ID suda","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VrstaPostupka"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/sifrarnici/razlozi-neplacanja-pristojbe":{"get":{"tags":["Šifrarnici"],"summary":"Razlozi neplaćanja pristojbe","description":"Metoda za dohvaćanje svih razloga neplaćanja pristojbe.","operationId":"getRazloziNeplacanja","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RazlogNeplacanjaPristojbe"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/sifrarnici/osnove-oslobodjenja-pristojbe":{"get":{"tags":["Šifrarnici"],"summary":"Osnove oslobođenja pristojbe","description":"Metoda za dohvaćanje svih osnova oslobođenja plaćanja pristojbe.","operationId":"getOsnoveOslobodjenja","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OsnovaOslobodjenjaPristojbe"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/sifrarnici/naselja":{"get":{"tags":["Šifrarnici"],"summary":"Naselja","description":"Metoda za dohvaćanje svih naselja.","operationId":"getNaselja","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Naselje"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/sifrarnici/drzave":{"get":{"tags":["Šifrarnici"],"summary":"Države","description":"Metoda za dohvaćanje svih država.","operationId":"getDrzave","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Drzava"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/predmeti":{"get":{"tags":["Predmeti"],"summary":"Stranični dohvat i pretraga","description":"Metoda za stranično dohvaćanje i pretraživanje predmeta.","operationId":"getPredmeti","parameters":[{"name":"page","in":"query","description":"Broj stranice koja se dohvaća. Brojevi počinju od 0.","schema":{"type":"integer","minimum":0},"example":0},{"name":"size","in":"query","description":"Veličina stranice koja se dohvaća. Maksimalna dopuštena veličina je 100.","schema":{"type":"integer","maximum":100},"example":10},{"name":"status","in":"query","description":"Status predmeta.","required":false,"schema":{"type":"array","enum":["U_RADU","ARHIVIRAN"],"items":{"type":"string","enum":["U_RADU","ARHIVIRAN"]},"uniqueItems":true}},{"name":"sudId","in":"query","description":"ID suda na kojem se vodi predmet.","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"},"maxItems":10,"uniqueItems":true}},{"name":"vrstaSudaId","in":"query","description":"ID vrste suda na kojem se vodi predmet","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"},"maxItems":10,"uniqueItems":true}},{"name":"vrstaUpisnikaOznaka","in":"query","description":"Oznaka vrste upisnika. Ne radi se razlika između malih i velikih slova.","required":false,"schema":{"type":"array","items":{"type":"string"},"maxItems":10,"uniqueItems":true}},{"name":"vanjskiPredmet","in":"query","description":"Vanjski predmet. Ne radi se razlika između malih i velikih slova.","required":false,"schema":{"type":"array","items":{"type":"string"},"maxItems":10,"uniqueItems":true}},{"name":"vanjskaUstrojstvenaJedinica","in":"query","description":"Vanjska ustrojstvena jedinica. Ne radi se razlika između malih i velikih slova.","required":false,"schema":{"type":"array","items":{"type":"string"},"maxItems":10,"uniqueItems":true}},{"name":"oznaka","in":"query","description":"Oznaka predmeta. Ne radi se razlika između malih i velikih slova.","required":false,"schema":{"type":"string","description":"Oznaka predmeta. Ne radi se razlika između malih i velikih slova."}},{"name":"strankaProtustrankaIme","in":"query","description":"Ime stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova.","required":false,"schema":{"type":"string","description":"Ime stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova."}},{"name":"strankaProtustrankaPrezime","in":"query","description":"Prezime stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova.","required":false,"schema":{"type":"string","description":"Prezime stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova."}},{"name":"strankaProtustrankaNaziv","in":"query","description":"Naziv stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova.","required":false,"schema":{"type":"string","description":"Naziv stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova."}},{"name":"strankaProtustrankaOib","in":"query","description":"OIB stranke/protustranke.","required":false,"schema":{"type":"string","description":"OIB stranke/protustranke."}},{"name":"dohvatPredmetaNaTemeljuPravaVanjskogUvida","in":"query","description":"Određuje hoće li biti dohvaćeni i predmeti u kojima niste stranka ili protustranka, ali vam je sud dao pravo uvida u njih. Napomena: odnosi se samo na korisnike s ulogama pravna osoba i javnost.","required":false,"schema":{"type":"boolean","description":"Određuje hoće li biti dohvaćeni i predmeti u kojima niste stranka ili protustranka, ali vam je sud dao pravo uvida u njih. Napomena: odnosi se samo na korisnike s ulogama pravna osoba i javnost."}},{"name":"shouldCheckPredmetDoNotDisturb","in":"query","description":"Određuje hoće li biti prikazani isključivo predmeti u kojima je označeno da se za njih prilikom promjena na e-Predmetu o tome ne šalju poruke u Korisnički pretinac e-Građana.","required":false,"schema":{"type":"boolean","description":"Određuje hoće li biti prikazani isključivo predmeti u kojima je označeno da se za njih prilikom promjena na e-Predmetu o tome ne šalju poruke u Korisnički pretinac e-Građana."}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PagedPredmetPage"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/predmeti/{id}":{"get":{"tags":["Predmeti"],"summary":"Dohvat detalja po ID-u","description":"Metoda za dohvaćanje predmeta s predanim ID-em.","operationId":"getPredmetById","parameters":[{"name":"id","in":"path","description":"ID predmeta","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Predmet"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/predmeti/{id}/otpravci":{"get":{"tags":["Predmeti"],"summary":"Dohvat otpremljenih otpravaka","description":"Metoda za dohvaćanje otpremljenih otpravaka dokumenata i sudskih radnji predmeta s predanim ID-em.","operationId":"getOtpremljeniOtpravciPredmeta","parameters":[{"name":"id","in":"path","description":"ID predmeta","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Otpravak"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/predmeti/{id}/otpravci/{otpravakId}/dostavnica/sadrzaj":{"get":{"tags":["Predmeti"],"summary":"Preuzimanje dostavnice otpremljenog otpravka","description":"Metoda za preuzimanje sadržaja datoteke dostavnice otpremljenog otpravaka dokumenta ili sudske radnje predmeta s predanim ID-em.","operationId":"downloadDostavnicaOtpremljenogOtpravkaPredmeta","parameters":[{"name":"id","in":"path","description":"ID predmeta","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"otpravakId","in":"path","description":"ID otpravka","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/predmeti/{id}/dokumenti/sadrzaj":{"get":{"tags":["Predmeti"],"summary":"Preuzimanje dokumenata","description":"Metoda za preuzimanje sadržaja datoteka dokumenata predmeta s predanim ID-em.","operationId":"downloadDokumentiPredmeta","parameters":[{"name":"id","in":"path","description":"ID predmeta","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"dokumentId","in":"query","description":"ID-evi dokumenata","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"},"uniqueItems":true}}],"responses":{"200":{"description":"OK","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/predmeti/":{"get":{"tags":["Predmeti"],"summary":"Dohvat detalja po parametrima","description":"Metoda za dohvaćanje predmeta s predanim parametrima.","operationId":"getPredmetByParams","parameters":[{"name":"sudId","in":"query","description":"ID suda koji vodi predmet, npr. 577 za OGS ZG. Napomena: potrebno je poslati točno jedan od parametara 'sudId', 'sud', 'sudOznaka'."},{"name":"sud","in":"query","description":"Oznaka suda koji vodi predmet, npr. 'OGS ZG', bez razlike između malih i velikih slova. Napomena: potrebno je poslati točno jedan od parametara 'sudId', 'sud', 'sudOznaka'.","example":"OGS ZG"},{"name":"sudOznaka","in":"query","description":"Oznaka suda koji vodi predmet, npr. 'OGS ZG', bez razlike između malih i velikih slova. Napomena: potrebno je poslati točno jedan od parametara 'sudId', 'sud', 'sudOznaka'."},{"name":"oznaka","in":"query","description":"Oznaka predmeta, npr. 'P-1/2024', bez razlike između malih i velikih slova. Napomena: potrebno je poslati točno jedan od parametara 'oznaka', 'predmetOznaka'.","example":"P-1/2024"},{"name":"predmetOznaka","in":"query","description":"Oznaka predmeta, npr. 'P-1/2024', bez razlike između malih i velikih slova. Napomena: potrebno je poslati točno jedan od parametara 'oznaka', 'predmetOznaka'."}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Predmet"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/podnesci/{id}":{"get":{"tags":["Podnesci"],"summary":"Dohvat detalja","description":"Metoda za dohvaćanje podneska s predanim ID-em.","operationId":"getPodnesak","parameters":[{"name":"id","in":"path","description":"ID podneska","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EkomPodnesak"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Podnesci"],"summary":"Brisanje","description":"Metoda za brisanje podneska s predanim ID-em. Moguće je obrisati samo nacrte podnesaka.","operationId":"deletePodnesak","parameters":[{"name":"id","in":"path","description":"ID podneska","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/podnesci/{id}/pristojba":{"get":{"tags":["Podnesci"],"summary":"Dohvat pristojbe","description":"Metoda za dohvaćanje podataka o pristojbi podneska s predanim ID-em.","operationId":"getPristojbaPodneska","parameters":[{"name":"id","in":"path","description":"ID podneska","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Predmet"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/podnesci/{id}/pristojba/nalog-za-placanje":{"get":{"tags":["Podnesci"],"summary":"Preuzimanje naloga za plaćanje pristojbe","description":"Metoda za preuzimanje sadržaja datoteke naloga za plaćanje pristojbe podneska s predanim ID-em.","operationId":"downloadNalogZaPlacanjePristojbePodneska","parameters":[{"name":"id","in":"path","description":"ID podneska","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/podnesci/{id}/pristojba/dokaz-uplate-oslobodjenja":{"get":{"tags":["Podnesci"],"summary":"Preuzimanje dokaza o uplati ili oslobođenju pristojbe","description":"Metoda za preuzimanje sadržaja datoteke dokaza o uplati ili oslobođenju plaćanja pristojbe podneska s predanim ID-em.","operationId":"downloadDokazUplateOslobodjenjaPristojbePodneska","parameters":[{"name":"id","in":"path","description":"ID podneska","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFoundError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/podnesci/{id}/obavijest-o-primitku":{"get":{"tags":["Podnesci"],"summary":"Preuzimanje Obavijesti o primitku","description":"Metoda za preuzimanje sadržaja datoteke obavijesti o primitku podneska s predanim ID-em.","operationId":"downloadObavijestOPrimitkuPodneska","parameters":[{"name":"id","in":"path","description":"ID podneska","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/otpravci":{"get":{"tags":["Otpravci"],"summary":"Stranični dohvat i pretraga","description":"Metoda za stranično dohvaćanje i pretraživanje otpravaka.","operationId":"getOtpravci","parameters":[{"name":"page","in":"query","description":"Broj stranice koja se dohvaća. Brojevi počinju od 0.","schema":{"type":"integer","minimum":0},"example":0},{"name":"size","in":"query","description":"Veličina stranice koja se dohvaća. Maksimalna dopuštena veličina je 100.","schema":{"type":"integer","maximum":100},"example":10},{"name":"sort","in":"query","description":"Podatak po kojem se sortira i smjer sortiranja ('asc' za uzlazno sortiranje i 'asc' za silazno sortiranje) odvojeni zarezom.","example":"vrijemeSlanjaSaSuda,asc"},{"name":"status","in":"query","description":"Status otpravka.","required":false,"schema":{"type":"array","enum":["PRIMLJEN","U_DOSTAVI"],"items":{"type":"string","enum":["PRIMLJEN","U_DOSTAVI"]},"uniqueItems":true},"example":"PRIMLJEN"},{"name":"sudId","in":"query","description":"ID suda","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"},"maxItems":10,"uniqueItems":true}},{"name":"vrstaUpisnikaOznaka","in":"query","description":"Oznaka vrste upisnika. Ne radi se razlika između malih i velikih slova.","required":false,"schema":{"type":"array","items":{"type":"string"},"maxItems":10,"uniqueItems":true}},{"name":"vanjskiPredmet","in":"query","description":"Vanjski predmet. Ne radi se razlika između malih i velikih slova.","required":false,"schema":{"type":"array","items":{"type":"string"},"maxItems":10,"uniqueItems":true}},{"name":"vanjskaUstrojstvenaJedinica","in":"query","description":"Vanjska ustrojstvena jedinica. Ne radi se razlika između malih i velikih slova.","required":false,"schema":{"type":"array","items":{"type":"string"},"maxItems":10,"uniqueItems":true}},{"name":"predmetOznaka","in":"query","description":"Oznaka predmeta. Ne radi se razlika između malih i velikih slova.","required":false,"schema":{"type":"string","description":"Oznaka predmeta. Ne radi se razlika između malih i velikih slova."}},{"name":"datumSlanjaSaSudaOd","in":"query","description":"Datum slanja sa suda od u formatu yyyy-MM-dd.","required":false,"schema":{"type":"string","format":"date","description":"Datum slanja sa suda od u formatu yyyy-MM-dd.","pattern":"/([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/"}},{"name":"datumSlanjaSaSudaDo","in":"query","description":"Datum slanja sa suda od u formatu yyyy-MM-dd.","required":false,"schema":{"type":"string","format":"date","description":"Datum slanja sa suda od u formatu yyyy-MM-dd.","pattern":"/([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/"}},{"name":"datumPotvrdePrimitkaOd","in":"query","description":"Datum potvrde primitka od u formatu yyyy-MM-dd. Filter nije moguće koristiti u slučaju da se dohvaćaju samo otpravci u statusu U_DOSTAVI","required":false,"schema":{"type":"string","format":"date","description":"Datum potvrde primitka od u formatu yyyy-MM-dd. Filter nije moguće koristiti u slučaju da se dohvaćaju samo otpravci u statusu U_DOSTAVI","pattern":"/([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/"}},{"name":"datumPotvrdePrimitkaDo","in":"query","description":"Datum potvrde primitka do u formatu yyyy-MM-dd. Filter nije moguće koristiti u slučaju da se dohvaćaju samo otpravci u statusu U_DOSTAVI","required":false,"schema":{"type":"string","format":"date","description":"Datum potvrde primitka do u formatu yyyy-MM-dd. Filter nije moguće koristiti u slučaju da se dohvaćaju samo otpravci u statusu U_DOSTAVI","pattern":"/([0-9]{4})-(?:[0-9]{2})-([0-9]{2})/"}},{"name":"samoPrimljeniZbogIstekaRoka","in":"query","description":"Ako je filter postavljen na true, dohvatit će se samo otpravci kod kojih je do primitka došlo zbog isteka za potvrdu primitka. Filter nije moguće koristiti u slučaju da se dohvaćaju samo otpravci u statusu U_DOSTAVI.","required":false,"schema":{"type":"boolean","description":"Ako je filter postavljen na true, dohvatit će se samo otpravci kod kojih je do primitka došlo zbog isteka za potvrdu primitka. Filter nije moguće koristiti u slučaju da se dohvaćaju samo otpravci u statusu U_DOSTAVI."}},{"name":"strankaProtustrankaIme","in":"query","description":"Ime stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova.","required":false,"schema":{"type":"string","description":"Ime stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova."}},{"name":"strankaProtustrankaPrezime","in":"query","description":"Prezime stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova.","required":false,"schema":{"type":"string","description":"Prezime stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova."}},{"name":"strankaProtustrankaNaziv","in":"query","description":"Naziv stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova.","required":false,"schema":{"type":"string","description":"Naziv stranke/protustranke. Pretraga funkcionira po principu 'počinje s' (starts-with) te se ne radi razlika između malih i velikih slova."}},{"name":"strankaProtustrankaOib","in":"query","description":"OIB stranke/protustranke.","required":false,"schema":{"type":"string","description":"OIB stranke/protustranke."}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PagedOtpravakPage"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/otpravci/{id}":{"get":{"tags":["Otpravci"],"summary":"Dohvat detalja po ID-u","description":"Metoda za dohvaćanje otpravka s predanim ID-em.","operationId":"getOtpravakById","parameters":[{"name":"id","in":"path","description":"ID otpravka","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Predmet"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/otpravci/{id}/potvrda-primitka":{"get":{"tags":["Otpravci"],"summary":"Preuzimanje Potvrde primitka","description":"Metoda za preuzimanje sadržaja datoteke potvrde primitka otpravka s predanim ID-em.","operationId":"downloadPotvrdaPrimitkaOtpravka","parameters":[{"name":"id","in":"path","description":"ID otpravka","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}},"/api/veliki-korisnici/otpravci/{id}/dokumenti/sadrzaj":{"get":{"tags":["Otpravci"],"summary":"Preuzimanje dokumenata","description":"Metoda za preuzimanje sadržaja datoteka dokumenata otpravka s predanim ID-em.","operationId":"downloadDokumentiOtpravka","parameters":[{"name":"id","in":"path","description":"ID otpravka","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"dokumentId","in":"query","description":"ID-evi dokumenata","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"},"uniqueItems":true}}],"responses":{"200":{"description":"OK","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestError"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenError"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"BadRequestError":{"type":"object","properties":{"id":{"type":"string"},"messages":{"type":"array","items":{"type":"string"}}}},"ForbiddenError":{"type":"object","properties":{"id":{"type":"string"},"message":{"type":"string"}}},"InternalServerError":{"type":"object","properties":{"id":{"type":"string"},"message":{"type":"string"}}},"PredmetGeneralDoNotDisturbTurnOnDto":{"type":"object","properties":{"generalDndAktivan":{"type":"boolean"}}},"PredmetGeneralDoNotDisturbTurnOffDto":{"type":"object","properties":{"brojAktivnihDndPredmeta":{"type":"integer","format":"int64"},"generalDndAktivan":{"type":"boolean"}}},"Adresa":{"type":"object","properties":{"drzava":{"$ref":"#/components/schemas/Drzava"},"naselje":{"$ref":"#/components/schemas/Naselje","description":"Podatak je prisutan ako je država Hrvatska.","maxLength":30},"naseljeNaziv":{"type":"string","description":"Naziv naselja ako država nije Hrvatska.","maxLength":64},"postanskiBroj":{"type":"string","description":"Poštanski broj. Podatak je obavezan ako je država Hrvatska.","maxLength":30},"ulicaIKucniBroj":{"type":"string","description":"Ulica i kućni broj. Podatak je obavezan ako je država Hrvatska.","maxLength":350}},"required":["drzava"]},"Datoteka":{"type":"object","properties":{"naziv":{"type":"string"},"brojStranica":{"type":"integer","format":"int32"},"velicina":{"type":"string","description":"Ljudski čitljiva veličina datoteke u bajtima (B), kilobajtima (kB) ili megabajtima (MB)"},"velicinaBytes":{"type":"integer","format":"int64","description":"Veličina datoteke u bajtima"}},"required":["naziv"]},"DigitalniPotpis":{"type":"object","properties":{"statusValidacije":{"type":"string","enum":["NEPOZNAT","PRIHVATLJIV","NEPRIHVATLJIV"]},"odgovorValidatora":{"type":"string"},"preduvjeti":{"type":"string"},"pojasnjenjaStatusaValidacije":{"type":"array","items":{"$ref":"#/components/schemas/PojasnjenjeStatusaValidacijeDigitalnogPotpisa"}}}},"Drzava":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string","maxLength":128},"oznaka":{"type":"string","description":"ISO 3166-1 alpha-2 dvoslovna oznaka države.","maxLength":2},"oznaka3":{"type":"string","description":"ISO 3166-1 alpha-3 troslovna oznaka države.","maxLength":3},"isoKod":{"type":"integer","format":"int64","description":"ISO 3166-1 numeric kod države "}},"required":["id","isoKod","naziv","oznaka","oznaka3"]},"EkomPodnesak":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["NACRT","POSLAN"]},"vrijemeKreiranja":{"type":"string","example":"2023-01-01T00:00:00.000"},"vrijemeSlanja":{"type":"string","description":"Podatak je prisutan samo u slučaju kada je podnesak u statusu POSLAN","example":"2023-01-01T00:00:00.000"},"vrijemeZaprimanja":{"type":"string","description":"Podatak može biti prisutan samo u slučaju kada je podnesak u statusu POSLAN","example":"2023-01-01T00:00:00.000"},"sud":{"$ref":"#/components/schemas/Sud"},"predmet":{"$ref":"#/components/schemas/PredmetUkratko","description":"Podatak se odnosi na postojeći predmet u koji je podnesak poslan u slučaju da se podneskom nije pokrenuo novi postupak"},"predmetNakonZaprimanja":{"$ref":"#/components/schemas/PredmetUkratko","description":"Podatak može biti prisutan samo u slučaju kada je podnesak u statusu POSLAN. Označuje predmet u kojem je podnesak završio nakon upisa od strane upisničara."},"vrstaPostupka":{"$ref":"#/components/schemas/VrstaPostupka","description":"Podatak je prisutan u slučaju da se podneskom pokrenuo novi postupak"},"vrstaPodneska":{"$ref":"#/components/schemas/VrstaPodneska"},"podnositelj":{"type":"string","maxLength":512},"ulogaPodnositelja":{"$ref":"#/components/schemas/UlogaSudionika","description":"Uloga s kojom podnositelj djeluje u postupku. Podatak je prisutan u slučaju da se podneskom pokrenuo novi postupak"},"vrijednostPredmetaSpora":{"type":"number","description":"Podatak je prisutan samo kod određenih vrsta novog postupka","maximum":100000000000,"minimum":0,"multipleOf":0.01},"vrijednostPredmetaSporaValuta":{"type":"string","description":"Podatak je prisutan samo kod određenih vrsta novog postupka","enum":["EUR","HRK"]},"sadrzaj":{"$ref":"#/components/schemas/Datoteka"},"digitalniPotpis":{"$ref":"#/components/schemas/DigitalniPotpis"},"vanjskaUstrojstvenaJedinica":{"type":"string","description":"Oznaka pošiljateljeve ustrojstvene jedinice (npr. ispostave) koja će biti zadužena za postupak. Podatak može biti prisutan samo ako se podneskom pokreće novi postupak","maxLength":100},"vanjskiPredmet":{"type":"string","description":"Oznaka pošiljateljevog predmeta. Podatak može biti prisutan samo ako se podneskom pokreće novi postupak","maxLength":100},"prosljedjivanja":{"type":"array","description":"Podaci mogu biti prisutni samo u slučaju kada je podnesak u statusu POSLAN","items":{"$ref":"#/components/schemas/ProsljedjivanjePodneska"}},"stranke":{"type":"array","items":{"$ref":"#/components/schemas/Stranka"}},"protustranke":{"type":"array","items":{"$ref":"#/components/schemas/Protustranka"}},"prilozi":{"type":"array","items":{"$ref":"#/components/schemas/EkomPrilog"}},"pristojba":{"$ref":"#/components/schemas/Pristojba"}},"required":["id","status","sud","vrijemeKreiranja","vrstaPodneska"]},"EkomPrilog":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"opis":{"type":"string","maxLength":512},"primjedba":{"type":"string","maxLength":512},"sadrzaj":{"$ref":"#/components/schemas/Datoteka"}},"required":["id","sadrzaj"]},"Naselje":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string","maxLength":64},"extId":{"type":"integer","format":"int64","description":"Vanjski ID (iz DGU) naselja. "},"opcina":{"$ref":"#/components/schemas/Opcina"}},"required":["extId","id","naziv","opcina"]},"Opcina":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string","maxLength":32},"extId":{"type":"integer","format":"int64","description":"Vanjski ID (iz DGU) općine."},"zupanija":{"$ref":"#/components/schemas/Zupanija"}},"required":["extId","id","naziv","zupanija"]},"OsnovaOslobodjenjaPristojbe":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string"}},"required":["id"]},"PojasnjenjeStatusaValidacijeDigitalnogPotpisa":{"type":"object","properties":{"signatureId":{"type":"integer","format":"int64","description":"Vrijednost signatureId označava identifikator potpisa koji se referencira na podatak signatureId u odgovoru validatora digitalnog potpisa."},"prihvatljivPotpis":{"type":"boolean","description":"Ako se radi o digitalnom potpisu s ispravnim statusom i tipom, ovo polje će vratiti true. Ako se radi o digitalnom potpisu koji ima neispravan barem jedan od navedenih podataka, vratit će false. Ako se ne radi o digitalnom potpisu, već o npr. vremenskom žigu, ovo polje će vratiti null."},"pojasnjenja":{"type":"array","items":{"$ref":"#/components/schemas/PojasnjenjeValidacijeDigitalnogPotpisa"}}}},"PojasnjenjeValidacijeDigitalnogPotpisa":{"type":"object","properties":{"kod":{"type":"string"},"poruka":{"type":"string"}}},"PredmetUkratko":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"oznaka":{"type":"string","maxLength":40},"sud":{"$ref":"#/components/schemas/Sud"},"vanjskeOznake":{"type":"array","items":{"$ref":"#/components/schemas/VanjskeOznakePredmeta"}}},"required":["id","oznaka"]},"Pristojba":{"type":"object","properties":{"dodatnaOpcija":{"type":"string","description":"Podatak je prisutan u slučaju da je za vrstu postupka i vrstu podneska bilo potrebno odabrati plaćanje jedne od više mogućih opcija pristojbe"},"vrsta":{"$ref":"#/components/schemas/VrstaPristojbe","description":"Podatak je prisutan uvijek, osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje"},"obveznikPlacanja":{"$ref":"#/components/schemas/Pristojba"},"obveznikPlacanjaSlobodanUnos":{"type":"string","maxLength":500},"pristojbenaOsnovica":{"type":"number","description":"Osnovica koja je korištena za izračun pristojbe","maximum":100000000000,"minimum":0,"multipleOf":0.01},"valuta":{"type":"string","description":"Podatak je prisutan uvijek, osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje","enum":["EUR","HRK"]},"primatelj":{"type":"string","description":"Podatak je prisutan uvijek, osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje"},"iban":{"type":"string","description":"Podatak može biti prisutan osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje","maxLength":21},"pnb":{"type":"string","description":"Podatak može biti prisutan osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje","maxLength":26},"nominalniIznos":{"type":"number","description":"Nominalni izračunati iznos (bez uračunatih oslobođenja). Podatak je prisutan uvijek, osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje.","maximum":100000000000,"minimum":0,"multipleOf":0.01},"postotakOslobodjenjaEKomunikacija":{"type":"number","description":"Postotak oslobođenja na temelju korištenja ovog sustava. Podatak može biti prisutan osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje.","maximum":100,"minimum":0,"multipleOf":0.01},"postotakOslobodjenjaDrugaOsnova":{"type":"number","description":"Postotak oslobođenja po nekoj drugoj osnovi. Podatak može biti prisutan osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje.","maximum":100,"minimum":0,"multipleOf":0.01},"osnovaOslobodjenjaDrugaOsnova":{"$ref":"#/components/schemas/OsnovaOslobodjenjaPristojbe","description":"Osnova oslobođenja po nekoj drugoj osnovi. Podatak može biti prisutan osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje."},"iznos":{"type":"number","description":"Iznos koji je potrebno uplatiti (uračunata oslobođenja). Podatak je prisutan uvijek, osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje.","maximum":100000000000,"minimum":0,"multipleOf":0.01},"datumPlacanja":{"type":"string","description":"Podatak može biti prisutan osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje","example":"2023-01-01"},"placeno":{"type":"number","description":"Iznos koji je plaćen. Podatak je prisutan uvijek, osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje.","maximum":100000000000,"minimum":0,"multipleOf":0.01},"ostatak":{"type":"number","description":"Preostali iznos za plaćanje. Podatak je prisutan uvijek, osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje.","maximum":100000000000,"minimum":0,"multipleOf":0.01},"detaljiIzracuna":{"type":"string","description":"Detalji izračuna kojim je određen iznos pristojbe. Podatak može biti prisutan osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje.","maxLength":1000},"napomena":{"type":"string","description":"Napomena namijenjena upisničaru, npr. razlog oslobođenja od plaćanja pristojbe, raspoloživa besplatna pravna pomoć i slično. Podatak može biti prisutan osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje.","maxLength":2000},"dokazOUplatiOslobodjenju":{"$ref":"#/components/schemas/Datoteka","description":"Podatak može biti prisutan osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje."},"razlogNeplacanja":{"$ref":"#/components/schemas/RazlogNeplacanjaPristojbe","description":"Razlog neplaćanja pristojbe za koju ne postoji osnova za oslobođenje od plaćanja, a još uvijek nije plaćena pri slanju podneska na sud. Podatak može biti prisutan osim u slučaju kad je odabarana opcija pristojbe koja ne zahtijeva plaćanje."}}},"ProsljedjivanjePodneska":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"vrijemeProsljedjivanja":{"type":"string","example":"2023-01-01T00:00:00.000"},"originalniSud":{"$ref":"#/components/schemas/Sud","description":"Sud s kojeg je podnesak proslijeđen novom sudu"},"originalniPredmet":{"$ref":"#/components/schemas/PredmetUkratko","description":"Predmet s kojeg je podnesak proslijeđen novom sudu"},"noviSud":{"$ref":"#/components/schemas/Sud","description":"Sud na koji je podnesak proslijeđen s originalnog suda"},"razlogProsljedjivanja":{"type":"string","maxLength":512}},"required":["id","noviSud","originalniSud","razlogProsljedjivanja","vrijemeProsljedjivanja"]},"Protustranka":{"type":"object","properties":{"tip":{"type":"string","enum":["FIZICKA_OSOBA","PRAVNA_OSOBA","TIJELO"]},"oib":{"type":"string","description":"Podatak je prisutan za stranke"},"ime":{"type":"string","description":"Podatak je prisutan za tip 'FIZICKA_OSOBA'","maxLength":64},"prezime":{"type":"string","description":"Podatak je prisutan za tip 'FIZICKA_OSOBA'","maxLength":64},"naziv":{"type":"string","description":"Podatak je prisutan za tipove 'PRAVNA_OSOBA' i 'TIJELO'","maxLength":512},"uloga":{"$ref":"#/components/schemas/UlogaSudionika"},"sjediste":{"type":"string","description":"Podatak može biti prisutan za tipove 'PRAVNA_OSOBA' i 'TIJELO'","maxLength":64},"predstavljaniSubjektNaziv":{"type":"string","description":"Naziv subjekta kojeg fizička osoba predstavlja (npr. obrta, poljoprivrednog gospodarstva i sl.). Podatak može biti prisutan jedino za tip'FIZICKA_OSOBA'.'","maxLength":500},"predstavljaniSubjektIpsIzvor":{"type":"string","description":"Izvor identifikatora subjekta kojeg fizička osoba predstavlja. Podatak može biti prisutan jedino za tip'FIZICKA_OSOBA'.'","enum":["OBRTNI_REGISTAR","UPISNIK_POLJOPRIVREDNIH_GOSPODARSTAVA","SLOBODNE_DJELATNOSTI","SPOREDNA_ZANIMANJA"]},"predstavljaniSubjektIps":{"type":"string","description":"Identifikator subjekta kojeg fizička osoba predstavlja. Podatak može biti prisutan jedino za tip'FIZICKA_OSOBA'.'"},"adresa":{"$ref":"#/components/schemas/Adresa"}},"required":["tip","uloga"]},"RazlogNeplacanjaPristojbe":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string","maxLength":128}},"required":["id","naziv"]},"Stranka":{"type":"object","properties":{"tip":{"type":"string","enum":["FIZICKA_OSOBA","PRAVNA_OSOBA","TIJELO"]},"oib":{"type":"string","description":"Podatak je prisutan za stranke"},"ime":{"type":"string","description":"Podatak je prisutan za tip 'FIZICKA_OSOBA'","maxLength":64},"prezime":{"type":"string","description":"Podatak je prisutan za tip 'FIZICKA_OSOBA'","maxLength":64},"naziv":{"type":"string","description":"Podatak je prisutan za tipove 'PRAVNA_OSOBA' i 'TIJELO'","maxLength":512},"uloga":{"$ref":"#/components/schemas/UlogaSudionika"},"sjediste":{"type":"string","description":"Podatak može biti prisutan za tipove 'PRAVNA_OSOBA' i 'TIJELO'","maxLength":64},"predstavljaniSubjektNaziv":{"type":"string","description":"Naziv subjekta kojeg fizička osoba predstavlja (npr. obrta, poljoprivrednog gospodarstva i sl.). Podatak može biti prisutan jedino za tip'FIZICKA_OSOBA'.'","maxLength":500},"predstavljaniSubjektIpsIzvor":{"type":"string","description":"Izvor identifikatora subjekta kojeg fizička osoba predstavlja. Podatak može biti prisutan jedino za tip'FIZICKA_OSOBA'.'","enum":["OBRTNI_REGISTAR","UPISNIK_POLJOPRIVREDNIH_GOSPODARSTAVA","SLOBODNE_DJELATNOSTI","SPOREDNA_ZANIMANJA"]},"predstavljaniSubjektIps":{"type":"string","description":"Identifikator subjekta kojeg fizička osoba predstavlja. Podatak može biti prisutan jedino za tip'FIZICKA_OSOBA'.'"},"adresa":{"$ref":"#/components/schemas/Adresa"},"zastupanaStranka":{"type":"boolean","description":"Podatak može biti postavljen na 'true' samo ako pošiljatelj ima pravo zastupanja stranaka s obzirom na ulogu s kojom djeluje. Ako pošiljatelj ima pravo zastupanja stranaka, tada barem jedna stranka mora imati podatak postavljen na 'true'."}},"required":["tip","uloga"]},"Sud":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string","maxLength":256},"oznaka":{"type":"string","maxLength":40},"vrsta":{"$ref":"#/components/schemas/VrstaSuda"}},"required":["id","naziv"]},"UlogaSudionika":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string","maxLength":64},"vrsta":{"$ref":"#/components/schemas/VrstaUlogeSudionika"}},"required":["id"]},"VanjskeOznakePredmeta":{"type":"object","properties":{"vanjskiPredmet":{"type":"string","maxLength":100},"vanjskaUstrojstvenaJedinica":{"type":"string","maxLength":100}}},"VrstaPodneska":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string","maxLength":128}},"required":["id"]},"VrstaPostupka":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string","maxLength":128}},"required":["id","naziv"]},"VrstaPristojbe":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string","maxLength":128}},"required":["id","naziv"]},"VrstaSuda":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string","maxLength":250}},"required":["id","naziv"]},"VrstaUlogeSudionika":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string","maxLength":64}},"required":["id"]},"Zupanija":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string","maxLength":32},"extId":{"type":"integer","format":"int64","description":"Vanjski ID (iz DGU) županije."}},"required":["extId","id","naziv"]},"CreateAdresaRequest":{"type":"object","properties":{"drzavaId":{"type":"integer","format":"int64","description":"ID države. Država se određuje na temelju kombinacije svih poslanih parametara ('drzavaId', 'drzavaNaziv', 'drzavaOznaka', 'drzavaOznaka3', 'drzavaIsoKod'). U slučaju da državu nije moguće jednoznačno odrediti, pošaljite samo njezin ID (podatak 'drzavaId'). Napomena: obavezno je poslati podatke o državi."},"drzavaNaziv":{"type":"string","description":"Naziv države. Država se određuje na temelju kombinacije svih poslanih parametara ('drzavaId', 'drzavaNaziv', 'drzavaOznaka', 'drzavaOznaka3', 'drzavaIsoKod'). U slučaju da državu nije moguće jednoznačno odrediti, pošaljite samo njezin ID (podatak 'drzavaId'). Napomena: obavezno je poslati podatke o državi.","maxLength":128},"drzavaOznaka":{"type":"string","description":"ISO 3166-1 alpha-2 dvoslovna oznaka države. Država se određuje na temelju kombinacije svih poslanih parametara ('drzavaId', 'drzavaNaziv', 'drzavaOznaka', 'drzavaOznaka3', 'drzavaIsoKod'). U slučaju da državu nije moguće jednoznačno odrediti, pošaljite samo njezin ID (podatak 'drzavaId'). Napomena: obavezno je poslati podatke o državi.","maxLength":2},"drzavaOznaka3":{"type":"string","description":"ISO 3166-1 alpha-3 troslovna oznaka države. Država se određuje na temelju kombinacije svih poslanih parametara ('drzavaId', 'drzavaNaziv', 'drzavaOznaka', 'drzavaOznaka3', 'drzavaIsoKod'). U slučaju da državu nije moguće jednoznačno odrediti, pošaljite samo njezin ID (podatak 'drzavaId'). Napomena: obavezno je poslati podatke o državi.","maxLength":3},"drzavaIsoKod":{"type":"integer","format":"int64","description":"ISO 3166-1 numeric kod države. Država se određuje na temelju kombinacije svih poslanih parametara ('drzavaId', 'drzavaNaziv', 'drzavaOznaka', 'drzavaOznaka3', 'drzavaIsoKod'). U slučaju da državu nije moguće jednoznačno odrediti, pošaljite samo njezin ID (podatak 'drzavaId'). Napomena: obavezno je poslati podatke o državi."},"zupanijaId":{"type":"integer","format":"int64","description":"ID županije. Županija se određuje na temelju kombinacije svih poslanih parametara ('zupanijaId', 'zupanijaNaziv', 'zupanijaExtId'). U slučaju da županiju nije moguće jednoznačno odrediti, pošaljite samo njezin ID (podatak 'zupanijaId'). Napomena: podatke o županiji moguće je poslati samo ako je država Hrvatska."},"zupanijaNaziv":{"type":"string","description":"Naziv županije. Županija se određuje na temelju kombinacije svih poslanih parametara ('zupanijaId', 'zupanijaNaziv', 'zupanijaExtId'). U slučaju da županiju nije moguće jednoznačno odrediti, pošaljite samo njezin ID (podatak 'zupanijaId'). Napomena: podatke o županiji moguće je poslati samo ako je država Hrvatska.","maxLength":32},"zupanijaExtId":{"type":"integer","format":"int64","description":"Vanjski ID (iz DGU) županije. Županija se određuje na temelju kombinacije svih poslanih parametara ('zupanijaId', 'zupanijaNaziv', 'zupanijaExtId'). U slučaju da županiju nije moguće jednoznačno odrediti, pošaljite samo njezin ID (podatak 'zupanijaId'). Napomena: podatke o županiji moguće je poslati samo ako je država Hrvatska."},"opcinaId":{"type":"integer","format":"int64","description":"ID općine. Općina se određuje na temelju kombinacije svih poslanih parametara ('opcinaId', 'opcinaNaziv', 'opcinaExtId' i parametri o županiji). U slučaju da općinu nije moguće jednoznačno odrediti, pošaljite samo njezin ID (podatak 'opcinaId'). Napomena: podatke o općini moguće je poslati samo ako je država Hrvatska."},"opcinaNaziv":{"type":"string","description":"Naziv općine. Općina se određuje na temelju kombinacije svih poslanih parametara ('opcinaId', 'opcinaNaziv', 'opcinaExtId' i parametri o županiji). U slučaju da općinu nije moguće jednoznačno odrediti, pošaljite samo njezin ID (podatak 'opcinaId'). Napomena: podatke o općini moguće je poslati samo ako je država Hrvatska.","maxLength":32},"opcinaExtId":{"type":"integer","format":"int64","description":"Vanjski ID (iz DGU) općine. Općina se određuje na temelju kombinacije svih poslanih parametara ('opcinaId', 'opcinaNaziv', 'opcinaExtId' i parametri o županiji). U slučaju da općinu nije moguće jednoznačno odrediti, pošaljite samo njezin ID (podatak 'opcinaId'). Napomena: podatke o općini moguće je poslati samo ako je država Hrvatska."},"naseljeId":{"type":"integer","format":"int64","description":"ID hrvatskg naselja. Hrvatsko naselje se određuje na temelju kombinacije svih poslanih parametara ('naseljeId', 'naseljeNaziv', 'naseljeExtId' i parametri o općini i županiji). U slučaju da hrvatsko naselje nije moguće jednoznačno odrediti, pošaljite njegov naziv (podatak'naseljeNaziv') i poštanski broj (podatak 'postanskiBroj', ili njegov ID (podatak 'naseljeId'). Napomena: podatke o naselju obavezno je poslati ako je država Hrvatska, dok je u slučaju neke druge države dozvoljeno poslati samo naziv (podatak 'naseljeNaziv')."},"naseljeNaziv":{"type":"string","description":"Naziv naselja. Hrvatsko naselje se određuje na temelju kombinacije svih poslanih parametara ('naseljeId', 'naseljeNaziv', 'naseljeExtId' i parametri o općini i županiji). U slučaju da hrvatsko naselje nije moguće jednoznačno odrediti, pošaljite njegov naziv (podatak'naseljeNaziv') i poštanski broj (podatak 'postanskiBroj', ili njegov ID (podatak 'naseljeId'). Napomena: podatke o naselju obavezno je poslati ako je država Hrvatska, dok je u slučaju neke druge države dozvoljeno poslati samo naziv (podatak 'naseljeNaziv').","maxLength":64},"naseljeExtId":{"type":"integer","format":"int64","description":"Vanjski ID (iz DGU) hrvatskog naselja. Općina se određuje na temelju kombinacije svih poslanih parametara ('opcinaId', 'opcinaNaziv', 'opcinaExtId' i parametri o županiji). U slučaju da općinu nije moguće jednoznačno odrediti, pošaljite samo njezin ID (podatak 'opcinaId'). Napomena: podatke o općini moguće je poslati samo ako je država Hrvatska."},"postanskiBroj":{"type":"string","description":"Poštanski broj. Podatak je obavezan ako je država Hrvatska.","maxLength":30},"ulicaIKucniBroj":{"type":"string","description":"Ulica i kućni broj. Podatak je obavezan ako je država Hrvatska.","maxLength":350}}},"CreateDatotekaRequest":{"type":"object","properties":{"naziv":{"type":"string"},"brojStranica":{"type":"integer","format":"int32","description":"Podatak nije obavezan u slučaju da se radi o datoteci u PDF formatu, ali se provjerava njegovo podudaranje s programski određenim brojem stranica u slučaju da je poslan. Ako datoteka nije u PDF formatu, podatak je obavezno poslati. Ako se radi o datoteci za koju podatak o broju stranica nije relevantan (audio zapis, video zapis i sl.), za broj stranica upišite vrijednost 0."},"ignorirajUpozorenja":{"type":"boolean","description":"Ako je flag postavljen na 'true', ignorirat će se upozorenja te će se datoteku pokušati spremiti bez obzira na ta upozorenja. Upozorenja se mogu odnositi npr. na neispravan/neočekivan format datoteke ili neslaganje u poslanom broju stranica i programski određenom broju stranica."}},"required":["naziv"]},"CreateEkomPodnesakRequest":{"type":"object","properties":{"sudId":{"type":"integer","format":"int64","description":"Obavezno je poslati ovaj podatak ili podatak 'sudOznaka'"},"sudOznaka":{"type":"string","description":"Obavezno je poslati ovaj podatak ili podatak 'sudId'"},"napomena":{"type":"string","description":"Napomena koja upisničaru može pomoći oko obrade ovog podneska"},"vrstaPostupkaId":{"type":"integer","format":"int64","description":"Podatak je obavezan u slučaju kad se podneskom pokreće novi postupak"},"vrijednostPredmetaSpora":{"type":"number","description":"Podatak je obavezan samo kod određenih vrsta novog postupka","maximum":100000000000,"minimum":0,"multipleOf":0.01},"ulogaPodnositeljaId":{"type":"integer","format":"int64","description":"Uloga s kojom podnositelj djeluje u postupku. Podatak je obavezan u slučaju da se podneskom pokreće novi postupak"},"predmetId":{"type":"integer","format":"int64","description":"U slučaju da se podnesak dostavlja u postojeći predmet potrebno je poslati ovaj podatak ili podatak 'predmetOznaka'"},"predmetOznaka":{"type":"string","description":"U slučaju da se podnesak dostavlja u postojeći predmet potrebno je poslati ovaj podatak ili podatak 'predmetId'"},"potvrdaOdabiraPredmetaKojiNijeMoj":{"type":"boolean","description":"Ako se podnesak želi dostaviti u odabrani predmet bez obzira na upozorenje da se predmet ne nalazi u mojim predmetima, potrebno je ovaj flag postaviti na 'true'"},"vrstaPodneskaId":{"type":"integer","format":"int64"},"podnositeljRbr":{"type":"integer","format":"int32","description":"Redni broj podnositelja iz liste stranaka u slučaju kad se podneskom pokreće novi postupak. Redni brojevi počinju od 1, a maksimalna moguća vrijednost određena je duljinom liste čiji se elementi referenciraju.","minimum":1},"podnositeljSlobodanUnos":{"type":"string","description":"Ime i prezime/naziv podnositelja u slučaju kad se podnesak dostavlja u postojeći predmet ili kad podnositelj nije naveden među strankama","maxLength":512},"vanjskaUstrojstvenaJedinica":{"type":"string","description":"Za kasnije lakše povezivanje sudskog i svog spisa ovdje možete unijeti oznaku svoje ustrojstvene jedinice (npr.ispostave) koja će biti zadužena za postupak. Podatak može biti prisutan samo ako se podneskom pokreće novi postupak","maxLength":100},"vanjskiPredmet":{"type":"string","description":"Za kasnije lakše povezivanje sudskog i svog spisa ovdje možete unijeti oznaku svog predmeta. Podatak može biti prisutan samo ako se podneskom pokreće novi postupak","maxLength":100},"sadrzaj":{"$ref":"#/components/schemas/CreateDatotekaRequest"},"stranke":{"type":"array","description":"U slučaju kad se podneskom pokreće novi postupak, mora biti navedena barem jedna stranka. U slučaju kad se podnesak dostavlja u postojeći predmet, ne smije biti navedena niti jedna stranka.","items":{"$ref":"#/components/schemas/CreateStrankaRequest"}},"protustranke":{"type":"array","description":"U slučaju kad se podnesak dostavlja u postojeći predmet, ne smije biti navedena niti jedna protustranka.","items":{"$ref":"#/components/schemas/CreateProtustrankaRequest"}},"prilozi":{"type":"array","items":{"$ref":"#/components/schemas/CreateEkomPrilogRequest"}},"pristojbaDodatniPodaci":{"$ref":"#/components/schemas/PristojbaDodatniPodaciRequest","description":"Dodatne podatke o pristojbi je potrebno slati samo kad sustav e-Komunikacija ustanovi obvezu plaćanja pristojbe, ali ne uspije automatski odrediti sve potrebne podatke, npr. vrstu pristojbe na temelju dodatne opcije ili obveznika plaćanja u slučaju novog postupka s više stranki."},"dozvoliDuljeTrajanjeValidacije":{"type":"boolean","description":"Ako je true, omogućuje dulji request timeout servisa za validaciju digitalnog potpisa."}},"required":["sadrzaj","vrstaPodneskaId"]},"CreateEkomPrilogRequest":{"type":"object","properties":{"opis":{"type":"string","maxLength":512},"primjedba":{"type":"string","maxLength":512},"sadrzaj":{"$ref":"#/components/schemas/CreateDatotekaRequest"}},"required":["sadrzaj"]},"CreateProtustrankaRequest":{"type":"object","properties":{"tip":{"type":"string","enum":["FIZICKA_OSOBA","PRAVNA_OSOBA","TIJELO"]},"oib":{"type":"string","description":"Podatak je obavezno poslati za stranke","maxLength":11},"ime":{"type":"string","description":"Podatak je obavezno poslati za tip 'FIZICKA_OSOBA'","maxLength":64},"prezime":{"type":"string","description":"Podatak je obavezno poslati za tip 'FIZICKA_OSOBA'","maxLength":64},"naziv":{"type":"string","description":"Podatak je obavezno poslati za tipove 'PRAVNA_OSOBA' i 'TIJELO'","maxLength":512},"ulogaId":{"type":"integer","format":"int64"},"sjediste":{"type":"string","description":"Podatak je dozvoljeno poslati za tipove 'PRAVNA_OSOBA' i 'TIJELO'","maxLength":64},"predstavljaniSubjektNaziv":{"type":"string","description":"Naziv subjekta kojeg fizička osoba predstavlja (npr. obrta, poljoprivrednog gospodarstva i sl.). Podatak je dozvoljeno poslati jedino za tip'FIZICKA_OSOBA'.'","maxLength":500},"predstavljaniSubjektIpsIzvor":{"type":"string","description":"Izvor identifikatora subjekta kojeg fizička osoba predstavlja. Podatak je dozvoljeno poslati jedino za tip'FIZICKA_OSOBA'.'","enum":["OBRTNI_REGISTAR","UPISNIK_POLJOPRIVREDNIH_GOSPODARSTAVA","SLOBODNE_DJELATNOSTI","SPOREDNA_ZANIMANJA"]},"predstavljaniSubjektIps":{"type":"string","description":"Identifikator subjekta kojeg fizička osoba predstavlja. Podatak je dozvoljeno poslati jedino za tip'FIZICKA_OSOBA'.'"},"adresa":{"$ref":"#/components/schemas/CreateAdresaRequest"}},"required":["tip","ulogaId"]},"CreateStrankaRequest":{"type":"object","properties":{"tip":{"type":"string","enum":["FIZICKA_OSOBA","PRAVNA_OSOBA","TIJELO"]},"oib":{"type":"string","description":"Podatak je obavezno poslati za stranke","maxLength":11},"ime":{"type":"string","description":"Podatak je obavezno poslati za tip 'FIZICKA_OSOBA'","maxLength":64},"prezime":{"type":"string","description":"Podatak je obavezno poslati za tip 'FIZICKA_OSOBA'","maxLength":64},"naziv":{"type":"string","description":"Podatak je obavezno poslati za tipove 'PRAVNA_OSOBA' i 'TIJELO'","maxLength":512},"ulogaId":{"type":"integer","format":"int64"},"sjediste":{"type":"string","description":"Podatak je dozvoljeno poslati za tipove 'PRAVNA_OSOBA' i 'TIJELO'","maxLength":64},"predstavljaniSubjektNaziv":{"type":"string","description":"Naziv subjekta kojeg fizička osoba predstavlja (npr. obrta, poljoprivrednog gospodarstva i sl.). Podatak je dozvoljeno poslati jedino za tip'FIZICKA_OSOBA'.'","maxLength":500},"predstavljaniSubjektIpsIzvor":{"type":"string","description":"Izvor identifikatora subjekta kojeg fizička osoba predstavlja. Podatak je dozvoljeno poslati jedino za tip'FIZICKA_OSOBA'.'","enum":["OBRTNI_REGISTAR","UPISNIK_POLJOPRIVREDNIH_GOSPODARSTAVA","SLOBODNE_DJELATNOSTI","SPOREDNA_ZANIMANJA"]},"predstavljaniSubjektIps":{"type":"string","description":"Identifikator subjekta kojeg fizička osoba predstavlja. Podatak je dozvoljeno poslati jedino za tip'FIZICKA_OSOBA'.'"},"adresa":{"$ref":"#/components/schemas/CreateAdresaRequest"},"zastupanaStranka":{"type":"boolean","description":"Podatak može biti postavljen na 'true' samo ako pošiljatelj ima pravo zastupanja stranaka s obzirom na ulogu s kojom djeluje. Ako pošiljatelj ima pravo zastupanja stranaka, tada barem jedna stranka mora imati podatak postavljen na 'true'."}},"required":["tip","ulogaId"]},"PristojbaDodatniPodaciRequest":{"type":"object","properties":{"dodatnaOpcija":{"type":"string","description":"Podatak je obavezan u slučaju da je za odabranu vrstu postupka i vrstu podneska moguće odabrati više od jedne opcije pristojbe"},"obveznikPlacanjaRbr":{"type":"integer","format":"int32","description":"Redni broj obveznika plaćanja pristojbe iz liste stranaka u slučaju kad se podneskom pokreće novi postupak. Redni brojevi počinju od 1, a maksimalna moguća vrijednost određena je duljinom liste čiji se elementi referenciraju. Podatak nije obavezan ako je navedena samo jedna stranka. Podatak ne smije biti poslan u slučaju da je odabrana opcija pristojbe koja ne zahtijeva plaćanje.","minimum":1},"obveznikPlacanjaSlobodanUnos":{"type":"string","description":"Ime i prezime/naziv obveznika plaćanja pristojbe u slučaju kad se podnesak dostavlja u postojeći predmet. Podatak ne smije biti poslan u slučaju da je odabrana opcija pristojbe koja ne zahtijeva plaćanje.","maxLength":500},"postotakOslobodjenjaDrugaOsnova":{"type":"number","description":"Postotak oslobođenja po nekoj drugoj osnovi (pored 50% oslobođenja na temelju korištenja e-Komunikacije i plaćanja pristojbe prije slanja podneska na sud). Podatak ne smije biti poslan u slučaju da je odabrana opcija pristojbe koja ne zahtijeva plaćanje.","maximum":100,"minimum":0,"multipleOf":0.01},"osnovaOslobodjenjaDrugaOsnovaId":{"type":"integer","format":"int64","description":"Osnova oslobođenja po nekoj drugoj osnovi (pored osnove za oslobođenje na temelju korištenja e-Komunikacije i plaćanja pristojbe prije slanja podneska na sud). Podatak ne smije biti poslan u slučaju da je odabrana opcija pristojbe koja ne zahtijeva plaćanje."},"vrijednostTrazbine":{"type":"number","description":"Vrijednost tražbine (u eurima) na koju se odnosi odluka protiv koje se izjavljuje žalba. Podatak je obavezan kada se radi o vrsti pristojbe 'Žalba protiv odluke suda u stečajnom postupku ili postupku likvidacije' u stečajnom postupku. Podatak ne smije biti poslan u slučaju da je odabrana opcija pristojbe koja ne zahtijeva plaćanje.","maximum":100000000000,"minimum":0,"multipleOf":0.01}}},"PosaljiEkomPodnesakNaSudRequest":{"type":"object","properties":{"razlogNeplacanjaId":{"type":"integer","format":"int64","description":"Podatak je obavezan u slučaju da je za podnesak ustanovljena obveza plaćanja pristojbe te ako pristojba nije plaćena u cijelosti (podatak 'ostatak' je veći od 0), odnosno ako nije uneseno stopostotno oslobođenje po nekoj drugoj osnovi (podatak 'postotakOslobodjenjaDrugaOsnova' je manji od 100)"}}},"PristojbaDodatnaOpcija":{"type":"object","properties":{"opcija":{"type":"string"}},"required":["opcija"]},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"unpaged":{"type":"boolean"},"paged":{"type":"boolean"},"pageSize":{"type":"integer","format":"int32"},"pageNumber":{"type":"integer","format":"int32"}}},"PagedPredmet":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["U_RADU","ARHIVIRAN"]},"oznaka":{"type":"string","maxLength":40},"sud":{"$ref":"#/components/schemas/Sud"},"datumPocetkaProcesa":{"type":"string","example":"2023-01-01"},"datumOsnivanja":{"type":"string","example":"2023-01-01"},"datumRjesavanja":{"type":"string","example":"2023-01-01"},"referada":{"type":"string"},"vanjskeOznake":{"type":"array","items":{"$ref":"#/components/schemas/VanjskeOznakePredmeta"}},"zastupaneStranke":{"type":"array","description":"Neke vrste korisnika nemaju pravo pregleda ovog podatka.","items":{"$ref":"#/components/schemas/ZastupanaStrankaUPredmetu"}},"doNotDisturb":{"type":"boolean"}},"required":["datumPocetkaProcesa","id","oznaka","status","sud"]},"PagedPredmetPage":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/PagedPredmet"}},"pageable":{"$ref":"#/components/schemas/PageableObject"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"empty":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"ZastupanaStrankaUPredmetu":{"type":"object","properties":{"ime":{"type":"string"},"prezime":{"type":"string"},"naziv":{"type":"string"}}},"DodjelaRjesavatelja":{"type":"object","properties":{"datumDodjele":{"type":"string","example":"2023-01-01"},"referada":{"type":"string"},"sluzbenaOsoba":{"$ref":"#/components/schemas/SluzbenaOsoba"}},"required":["datumDodjele","referada"]},"Dokument":{"type":"object","discriminator":{"propertyName":"tip","mapping":{"PS":"#/components/schemas/Podnesak","PR":"#/components/schemas/Prilog","OD":"#/components/schemas/Odluka","ZA":"#/components/schemas/Zapisnik","PO":"#/components/schemas/Poziv","UP":"#/components/schemas/UmetnutiPredmet"}},"properties":{"id":{"type":"integer","format":"int64"},"tip":{"type":"string","enum":["PODNESAK","PRILOG","ODLUKA","ZAPISNIK","POZIV","UMETNUTI_PREDMET"]},"oznaka":{"type":"string"},"opis":{"type":"string"},"aktivan":{"type":"boolean","description":"Sadržaj neaktivnih pismena (npr. koja su u izradi, prebačena u druge predmete, pogrešno upisana i sl.) nije moguće preuzeti"},"postojiSadrzaj":{"type":"boolean","description":"Označava je li sadržaj pismena u digitalnom obliku pohranjen u eSpis informacijskom sustavu suda, tj. je li sadržaj moguće preuzeti preko endpointa za preuzimanje sadržaja."}},"required":["aktivan","id","opis","postojiSadrzaj","tip"]},"MjestoOdrzavanja":{"type":"object","properties":{"naziv":{"type":"string"},"oznaka":{"type":"string"}},"required":["naziv","oznaka"]},"Odluka":{"allOf":[{"$ref":"#/components/schemas/Dokument"}],"required":["aktivan","datumDonosenja","id","opis","postojiSadrzaj","tip","vrsta"]},"OdlukaKojomJeRijesenPredmet":{"type":"object","properties":{"vrsta":{"type":"string"},"oznaka":{"type":"string"},"datumOvrsnosti":{"type":"string","example":"2023-01-01"},"datumPravomocnosti":{"type":"string","example":"2023-01-01"}},"required":["vrsta"]},"Podnesak":{"allOf":[{"$ref":"#/components/schemas/Dokument"}],"required":["aktivan","datumZaprimanja","id","opis","postojiSadrzaj","tip","vrsta"]},"Poziv":{"allOf":[{"$ref":"#/components/schemas/Dokument"}],"required":["aktivan","datumKreiranja","id","opis","postojiSadrzaj","tip"]},"Predmet":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["U_RADU","ARHIVIRAN"]},"oznaka":{"type":"string","maxLength":40},"sud":{"$ref":"#/components/schemas/Sud"},"pisarnica":{"type":"string"},"referada":{"type":"string"},"vrsta":{"$ref":"#/components/schemas/VrstaPredmeta"},"datumPocetkaProcesa":{"type":"string","example":"2023-01-01"},"datumOsnivanja":{"type":"string","example":"2023-01-01"},"datumRjesavanja":{"type":"string","example":"2023-01-01"},"datumPosljednjeDodjele":{"type":"string","example":"2023-01-01"},"odlukaKojomJeRijesen":{"$ref":"#/components/schemas/OdlukaKojomJeRijesenPredmet"},"vanjskeOznake":{"type":"array","items":{"$ref":"#/components/schemas/VanjskeOznakePredmeta"}},"sudionici":{"type":"array","items":{"$ref":"#/components/schemas/Sudionik"}},"dodjeleRjesavatelja":{"type":"array","items":{"$ref":"#/components/schemas/DodjelaRjesavatelja"}},"sudskeRadnje":{"type":"array","items":{"$ref":"#/components/schemas/SudskaRadnja"}},"dokumenti":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/Dokument"},{"$ref":"#/components/schemas/Odluka"},{"$ref":"#/components/schemas/Podnesak"},{"$ref":"#/components/schemas/Poziv"},{"$ref":"#/components/schemas/Prilog"},{"$ref":"#/components/schemas/UmetnutiPredmet"},{"$ref":"#/components/schemas/Zapisnik"}]}},"zaJavnobiljeznickoRjesavanje":{"type":"boolean"},"javnobiljeznickiUred":{"type":"string"},"vezePredmeta":{"type":"array","items":{"$ref":"#/components/schemas/VezaPredmeta"}},"doNotDisturb":{"type":"boolean"}},"required":["datumPocetkaProcesa","id","oznaka","pisarnica","status","sud","vrsta"]},"Prilog":{"allOf":[{"$ref":"#/components/schemas/Dokument"}],"required":["aktivan","id","opis","postojiSadrzaj","tip"]},"SluzbenaOsoba":{"type":"object","properties":{"ime":{"type":"string","maxLength":128},"prezime":{"type":"string","maxLength":128}}},"Sudionik":{"type":"object","properties":{"oib":{"type":"string","maxLength":11},"ime":{"type":"string","maxLength":64},"prezime":{"type":"string","maxLength":64},"naziv":{"type":"string","maxLength":512},"uloga":{"$ref":"#/components/schemas/UlogaSudionika"}},"required":["uloga"]},"SudskaRadnja":{"type":"object","properties":{"vrsta":{"type":"string","maxLength":64},"status":{"type":"string","enum":["NEAKTIVNA","ODREDJENA","ODGODJENA","IZVRSENA"]},"opis":{"type":"string","maxLength":4000},"planiraniPocetak":{"type":"string","example":"2023-01-01T00:00:00.000"},"stvarniPocetak":{"type":"string","example":"2023-01-01T00:00:00.000"},"mjestoOdrzavanja":{"$ref":"#/components/schemas/MjestoOdrzavanja"}},"required":["mjestoOdrzavanja","vrsta"]},"UmetnutiPredmet":{"allOf":[{"$ref":"#/components/schemas/Dokument"}],"required":["aktivan","datumKreiranja","id","opis","postojiSadrzaj","tip","umetnutiPredmet"]},"VezaPredmeta":{"type":"object","properties":{"opis":{"type":"string","maxLength":128},"predmet":{"$ref":"#/components/schemas/PredmetUkratko"}},"required":["opis","predmet"]},"VrstaPredmeta":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"naziv":{"type":"string","maxLength":256}},"required":["id","naziv"]},"Zapisnik":{"allOf":[{"$ref":"#/components/schemas/Dokument"}],"required":["aktivan","datumKreiranja","id","opis","postojiSadrzaj","sudskaRadnja","tip"]},"Otpravak":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"primatelj":{"type":"string"},"vrstaNacinaOtpremeNaziv":{"type":"string"},"status":{"type":"string","enum":["U_DOSTAVI","URUCEN","NEURUCEN"]},"datumOtpreme":{"type":"string","example":"2023-01-01"},"datumUrucenja":{"type":"string","example":"2023-01-01"},"vrstaRazlogaNeurucenjaNaziv":{"type":"string"},"razlogOdbijanja":{"type":"string"},"dostavnicaVelicina":{"type":"string","description":"Ljudski čitljiva veličina dostavnice u bajtima (B), kilobajtima (kB) ili megabajtima (MB)"},"dostavnicaVelicinaBytes":{"type":"integer","format":"int64","description":"Veličina dostavnice u bajtima"},"dokumenti":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/Dokument"},{"$ref":"#/components/schemas/Odluka"},{"$ref":"#/components/schemas/Podnesak"},{"$ref":"#/components/schemas/Poziv"},{"$ref":"#/components/schemas/Prilog"},{"$ref":"#/components/schemas/UmetnutiPredmet"},{"$ref":"#/components/schemas/Zapisnik"}]}}},"required":["id","status","vrstaNacinaOtpremeNaziv"]},"PagedEkomPodnesak":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["NACRT","POSLAN"]},"sud":{"$ref":"#/components/schemas/Sud"},"predmet":{"$ref":"#/components/schemas/PredmetUkratko","description":"Podatak se odnosi na postojeći predmet u koji je podnesak poslan u slučaju da se podneskom nije pokrenuo novi postupak"},"predmetNakonZaprimanja":{"$ref":"#/components/schemas/PredmetUkratko","description":"Podatak može biti prisutan samo u slučaju kada je podnesak u statusu POSLAN. Označuje predmet u kojem je podnesak završio nakon upisa od strane upisničara."},"vrstaPostupka":{"$ref":"#/components/schemas/VrstaPostupka","description":"Podatak je prisutan u slučaju da se podneskom pokrenuo novi postupak"},"vrstaPodneska":{"$ref":"#/components/schemas/VrstaPodneska"},"podnositelj":{"type":"string","maxLength":512},"prosljedjivanja":{"type":"array","description":"Podaci mogu biti prisutni samo u slučaju kada je podnesak u statusu POSLAN","items":{"$ref":"#/components/schemas/ProsljedjivanjePodneska"}},"vrijemeKreiranja":{"type":"string","example":"2023-01-01T00:00:00.000"},"vrijemeSlanja":{"type":"string","description":"Podatak je prisutan samo u slučaju kada je podnesak u statusu POSLAN","example":"2023-01-01T00:00:00.000"},"vrijemeZaprimanja":{"type":"string","description":"Podatak može biti prisutan samo u slučaju kada je podnesak u statusu POSLAN","example":"2023-01-01T00:00:00.000"}},"required":["id","status","sud","vrijemeKreiranja","vrstaPodneska"]},"PagedEkomPodnesakPage":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/PagedEkomPodnesak"}},"pageable":{"$ref":"#/components/schemas/PageableObject"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"empty":{"type":"boolean"}}},"NotFoundError":{"type":"object","properties":{"id":{"type":"string"},"message":{"type":"string"}}},"PagedOtpravak":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["PRIMLJEN","U_DOSTAVI"]},"vrijemeSlanjaSaSuda":{"type":"string","example":"2023-01-01T00:00:00.000"},"zadnjiTrenutakZaPotvrduPrimitka":{"type":"string","description":"Podatak je prisutan samo u slučaju kada je otpravak u statusu U_DOSTAVI.Nakon ovog trenutka nastupaju pravne posljedice iz čl. 143.c st. 2. i 5. ZPP-a, čl. 110. st. 7. ZUS-a, odnosno iz čl. 172.a st. 3. ZKP-a, tj. smatrat će se da ste pošiljku zaprimili neovisno o tome što niste eksplicitno potvrdili njezin prijem.","example":"2023-01-01T00:00:00.000"},"vrijemePotvrdePrimitka":{"type":"string","description":"Podatak je prisutan samo u slučaju kada je otpravak u statusu PRIMLJEN.","example":"2023-01-01T00:00:00.000"},"primljenZbogIstekaRoka":{"type":"boolean","description":"Podatak je prisutan samo u slučaju kada je otpravak u statusu PRIMLJEN, a označava je li do njegovog primitka došlo zbog isteka roka za potvrdu primitka ili je primitak u roku potvrđen od strane primatelja."},"napomena":{"type":"string","description":"Podatak može biti prisutan samo u slučaju kada je otpravak u statusu PRIMLJEN."},"punomocnikKojiJePotvrdioPrimitakOib":{"type":"string","description":"Podatak može biti prisutan samo u slučaju kada je otpravak u statusu PRIMLJEN."},"punomocnikKojiJePotvrdioPrimitakIme":{"type":"string","description":"Podatak može biti prisutan samo u slučaju kada je otpravak u statusu PRIMLJEN."},"punomocnikKojiJePotvrdioPrimitakPrezime":{"type":"string","description":"Podatak može biti prisutan samo u slučaju kada je otpravak u statusu PRIMLJEN."},"primatelj":{"$ref":"#/components/schemas/PrimateljOtpravka"},"predmet":{"$ref":"#/components/schemas/PredmetUkratko"},"dokumenti":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/Dokument"},{"$ref":"#/components/schemas/Odluka"},{"$ref":"#/components/schemas/Podnesak"},{"$ref":"#/components/schemas/Poziv"},{"$ref":"#/components/schemas/Prilog"},{"$ref":"#/components/schemas/UmetnutiPredmet"},{"$ref":"#/components/schemas/Zapisnik"}]}}},"required":["id","predmet","primatelj","status"]},"PagedOtpravakPage":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/PagedOtpravak"}},"pageable":{"$ref":"#/components/schemas/PageableObject"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"empty":{"type":"boolean"}}},"PrimateljOtpravka":{"type":"object","properties":{"uloga":{"type":"string","enum":["ODVJETNIK","JAVNI_BILJEZNIK","JAVNOST","POVJERENIK_U_POSTUPKU_STECAJA_POTROSACA","STECAJNI_UPRAVITELJ","SUDSKI_VJESTAK","SUDSKI_PROCJENITELJ","SUDSKI_TUMAC","DRZAVNO_ODVJETNISTVO","PUNOMOCNIK","PRAVNA_OSOBA","MUP","RADNIK_U_SINDIKATU_UDRUZI_SINDIKATA_ILI_POSLODAVACA_VISE_RAZINE","LIKVIDATOR","POSEBNI_SKRBNIK"]},"oib":{"type":"string","maxLength":11,"minLength":11},"izvorIdentifikatora":{"type":"string","enum":["OBRTNI_REGISTAR","UPISNIK_POLJOPRIVREDNIH_GOSPODARSTAVA","SLOBODNE_DJELATNOSTI","SPOREDNA_ZANIMANJA"]},"identifikator":{"type":"string","maxLength":20},"ime":{"type":"string"},"prezime":{"type":"string"},"naziv":{"type":"string"}},"required":["uloga"]}},"securitySchemes":{"bearerAuth":{"type":"http","name":"Authorization","in":"header","scheme":"bearer","bearerFormat":"JWT"}}}}